<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Brentwood College Web Map Sample</title>
    <link rel="stylesheet" href="../theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <style type="text/css">
        p.caption {
            width: 512px;
        }
    </style>
    <script src="../Controller/JQuery.js"></script>
    <script src="../Controller/JQuery-ui.js"></script>
    <script src="../Controller/OpenLayers.js"></script>
    <script src="../Controller/IsoMap.js"></script>
  </head>
  <body onload="init()">
    <h1 id="title">Brentwood College Web Map Sample</h1>
    <p id="shortdesc">
        Demonstration of web mapping functionality.
    </p>
    <div id="map" class="smallmap"></div>
    <div id="docs">
    </div>
  </body>
</html>
