<div id ="container" style="margin:auto;height:450px;width:650px;border:2px solid black;border-radius:15px;background-color:rgba(255,0,0,0.5);">
    <div id ="photo" style = "height:350px;width:350px;float:left;text-align:center">
        <h5 id="title">Centre for Art and Humanities</h5><h5> (30,000 sq. ft.)</h5>
        <div id="photo">
            <img src="../Model/Centre_for_Art_and_Humanities/full/DSC06626 (2).JPG" style="margin:0 auto;display:block"/>
        </div>
    </div>
    <div id ="text" style = "height:420px;width:270px;float:right;padding:15px;overflow-y:scroll;">
        <h5 id="title"></h5>
            The completion of the Centre for Arts and Humanities is the final piece in a strategic 
            ten year campus development plan. The new building includes 8 humanities classrooms located 
            within a centre for visual arts; a concept that is rooted in our educational philosophy. By 
            intent, each student interacts with the working spaces and galleries of our visual artists 
            while attending global studies courses in modern languages, history, geography, environmental 
            studies, comparative government and art history. This building speaks to all levels of the 
            power of visual image and the dialectic between artist and audience.  
            The building incorporates connections to the waterfront and to Campbell Common, and reinforces the north-south 
            pedestrian spine on campus while preserving views from the Bunch Centre.</br></br>  
            *2-D Studios (drawing, painting, design, printmaking).  These ocean view studios constitute 4,600 sq. feet 
            including a spray booth, matting and framing space and print making facilities.</br></br>  
            *3-D Applied Art Studios (pottery and sculpture).  With over 5,000 sq. feet of studio space, these studios 
            combine creative space with areas for kilns, vacuums and art storage.  Both studios have ocean views.</br></br>
            *Photography Studio. 2,300 square feet include a digital darkroom, wet dark room, advanced dark room, film 
            processing facilities, projection room and a large work area.</br></br>
            *Digital Media Labs.  A 2,300 square foot facility for graphic design, digital film, photo and editing suite, 
            including 2 IT labs, and a CAD model room.</br></br>
            *Galleries.  A spectacular 25\' gallery, which leads to a corridor with asymmetric walls, gives emphasis to art 
            work and can be found in the Visual Arts and Global Thinking Centre.  As well, an art gallery for display of 
            current student art is found in the entranceway of the Ross Academic building.
        </h5>
    </div>
      <div id ="thumbs" style = "height:100px;width:350px;float:right;">
        <div id ="image_bar" style = "height:60px;width:350px;margin-top:20px;text-align:center">
            <img src = "../Model/Centre_for_Art_and_Humanities/thumbs/BCS Centre Classroom.JPG"/>
            <img src = "../Model/Centre_for_Art_and_Humanities/thumbs/Digital_Media_studio.JPG"/>
            <img src = "../Model/Centre_for_Art_and_Humanities/thumbs/hall.JPG"/>
            <img src = "../Model/Centre_for_Art_and_Humanities/thumbs/Pottery_studio.JPG"/>
            <img src = "../Model/Centre_for_Art_and_Humanities/thumbs/DSC06626 (2).JPG"/>
        </div>
    </div>
</div>